<div class="row fixed-bottom bg-light p-2">
  <div class="col-sm-2">
    <a href="https://www.accenture.com/sg-en" target="_blank">
      <img class="w-100" src="../assets/images/logo.PNG">
    </a>
  </div>
  <div class="col-sm-1">
    <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
  </div>
  <div class="col-sm-1">
    <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
  </div>
  <div class="col-sm-1">
    <a href="https://sg.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>
  </div>
  <div class="col-sm-1">
    <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
  </div>
  <div class="col-sm-6"></div>
</div>