<h3>Angular Versions</h3>

<div class="row">
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angularJSModal">AngularJS</button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular2Modal">Angular 2.0</button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular4Modal">Angular 4.0</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular5Modal">Angular 5.0</button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular6Modal">Angular 6.0 </button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular7Modal">Angular 7.0 </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular8Modal">Angular 8.0</button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular9Modal">Angular 9.0 </button>
    </div>
    <div class="col-sm-4 margin">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#angular10Modal">Angular 10.0 </button>
    </div>
</div>

<!-- Modal JS -->
<div class="modal fade" id="angularJSModal" tabindex="-1" aria-labelledby="angularJSModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angularJSModalLabel">Angular JS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Efficient framework that can create Rich Internet Applications (RIA)</li>
              <li>Write client side applications using JavaScript in a clean Model View Controller (MVC) way</li>
              <li>Two-way data binding</li>
              <li>DOM manipulation</li>
              <li>Faster application prototyping</li>
              <li>Responsive web</li>
          </ul>
          Disadvantages:
          <ul>
              <li>JavaScript support is mandatory</li>
              <li>Inexperience with MVC</li>
              <li>Use of scopes</li>
              <li>Learning difficulties</li>
          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2.0 -->
<div class="modal fade" id="angular2Modal" tabindex="-1" aria-labelledby="angular2ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular2ModalLabel">Angular 2.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Mobile development</li>
              <li>Better performance</li>
              <li>Supports routing</li>
              <li>Cross platform</li>
              <li>Syntax is comparatively easier than AngularJS</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 4.0 -->
<div class="modal fade" id="angular4Modal" tabindex="-1" aria-labelledby="angular4ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular4ModalLabel">Angular 4.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>HttpClient, a more powerful library for making HTTP Requests</li>
              <li>Router life cycle events for Guards and Resolvers</li>
              <li>Conditionally disable animations</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 5.0 -->
<div class="modal fade" id="angular5Modal" tabindex="-1" aria-labelledby="angular5ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular5ModalLabel">Angular 5.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Support for progressive web apps</li>
              <li>Build optimizer</li>
              <li>Improvements related to Material Design</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal 6.0 -->
<div class="modal fade" id="angular6Modal" tabindex="-1" aria-labelledby="angular6ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular6ModalLabel">Angular 6.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Focus more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 7.0 -->
<div class="modal fade" id="angular7Modal" tabindex="-1" aria-labelledby="angular7ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular7ModalLabel">Angular 7.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Updates regarding Application Performance, Angular Material & CDK, Virtual Scrolling, Improved Accessibility of Selects</li>
              <li>Supports Content Projection using web standard for custom elements</li>
              <li>Dependency updates regarding Typescript 3.1, RxJS 6.3, Node 10</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 8.0 -->
<div class="modal fade" id="angular8Modal" tabindex="-1" aria-labelledby="angular8ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular8ModalLabel">Angular 8.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
              <li>Generated code that is easier to read and debug at runtime</li>
              <li>Faster re-build time</li>
              <li>Improved payload size</li>
              <li>Improved template type checking</li>
              <li>Backwards compatibility</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 9.0 -->
<div class="modal fade" id="angular9Modal" tabindex="-1" aria-labelledby="angular9ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular9ModalLabel">Angular 9.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
            <li>Smaller bundle sizes</li>
            <li>Faster testing</li>
            <li>Better debugging</li>
            <li>Improved CSS class and style binding</li>
            <li>Improved type checking</li>
            <li>Improved build errors</li>
            <li>Improved build times, enabling AOT on by default</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 10.0 -->
<div class="modal fade" id="angular10Modal" tabindex="-1" aria-labelledby="angular10ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="angular10ModalLabel">Angular 10.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Advantages:
          <ul>
            <li>New Date Range Picker (Material UI library)</li>
            <li>Warnings about CommonJS imports</li>
            <li>Optional Stricter Settings</li>
            <li>Keeping Up to Date with the Ecosystem</li>
            <li>New Default Browser Configuration</li>
            <li>Deprecations and Removals</li>            
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>