<section class="row row-grey" >
    <h1>Welcome to Accenture Singapore</h1>
    <div class="indent">While every business challenge is unique, we believe that innovative people—enabled by technology—can create amazing solutions.</div>
  </section>
  <section class="row row-white">
    <h1>Leading in Singapore</h1>
    <div class="indent">Accenture is a leading global professional services company, providing a broad range of services and solutions in strategy, consulting, digital, technology, and operations. We work at the intersection of business and technology to help clients across a range of industries improve their performance and create sustainable value for their stakeholders. We are committed to driving innovation to improve the way the world works and lives. We have operated in Singapore since 1975 and today serve clients in 17 industries across Southeast Asia, including many of the largest companies and organisations in the region, and local Government.</div>
  </section>
  <section class="row row-grey">
    <h1>Creating marketable innovations together</h1>
    <div class="indent">Innovation means working closely with our customers, developing new products, services, and business models from ideas. In Singapore, we launched a Digital Innovation Hub, the Liquid Studio, and the Singapore’s Innovation Center for Situational Awareness; here, clients are able to utilise the expertise of over 200 individuals skilled in the art of design thinking and Internet of Things, as well as view the latest technological innovations from our people. From there, we carry these ideas out into the world.</div>
  </section>
  <section class="row row-white">
    <h1>Join us to achieve more</h1>
    <div class="indent">We are a diverse company of thinkers and problem-solvers, tackling some of the most important and difficult challenges faced by the world’s biggest organisations.
      <br/><br/>
      Our people are from diverse backgrounds, bringing together their distinct knowledge to help our clients to succeed now and in the future. Our global network offers you support, inspiration, and continuous learning to stay ahead of the game, while making a difference in the world.
      <br/><br/>
      A career with Accenture puts you at the forefront of innovation in the digital age. Work with the brightest minds in business to imagine and invent the future.</div>
    </section>